$cornflowerblue: #5190f5;
$mintgreen: #8ffba1;
$mercury: #e6e4e4;

.App {
  text-align: center;
  background: $mercury;
  &-title {
    font-size: 1.5em;
    color: $cornflowerblue;
  }
}

.Wall {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.WallForm {
  width: 300px;
  &-item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  
  &-label {
    color: $cornflowerblue;
  }

  &-select {
    width: 170px;
    border: 1px solid $cornflowerblue;
  }

  &-button {
    border: 1px solid $cornflowerblue;
    width: 80px;
    height: 30px;
    color: $cornflowerblue;
    margin-bottom: 10px;
  }

  &-input {
    border: 1px solid $cornflowerblue;
    background: white;
  }
}

.WallTable {
  border: 1px solid $cornflowerblue;
  width: 400px;
  display: flex;
  justify-content: center;

  &-label {
    color: $cornflowerblue;
  }
}

.WallMessage {
  width: 100%;
  background: $mintgreen;
  margin-bottom: 20px;
}
